<h1>{{ experience.title }}</h1>
<div class="item" *ngFor="let item of experience.content; let i = index">
  <div class="business">
    <p class="business_name">{{item.business}}</p>
    <p class="business_date">{{item.start}} - {{item.stop}}</p>
  </div>
  <div class="description section">
    <ng-container *ngFor="let text of item.description">
      <ng-container [ngTemplateOutlet]="text.sublevel?sublevel:noSublevel" [ngTemplateOutletContext]="{text:text}"></ng-container>
    </ng-container>
  </div>
</div>

<ng-template #sublevel let-text='text'>
  <p class="description_item level1">{{text.item}}</p>
  <ul>
    <li class="description_item level2" *ngFor="let text1 of text.sublevel"><strong>{{text1.item}}</strong>
      <ul *ngIf="text1.sublevel">
        <li class="description_item level3" *ngFor="let text2 of text1.sublevel">{{text2.item}}</li>
      </ul>
    </li>
  </ul>
</ng-template>
<ng-template #noSublevel let-text='text'>
  <p class="description_item">{{text}}</p>
</ng-template>
