@use '@angular/material' as mat;
@import "@angular/material/theming";

//@include mat.all-legacy-component-typographies();
//@include mat.legacy-core();

$title-font: Raleway, sans-serif;
$text-font:Open Sans, sans-serif;
$color1: #263238;
$color2: #f4f5f5;
$color3: #78909C;
$accent-light: #29B6F6;
$accent-dark: #0277BD;
$page-background: rgb(255,255,255);
$alert: #FF3D00;

$dark-color1: #152127;
$dark-color2: #212c32;
$dark-color3: #8a9093;
$dark-accent-light: #29B6F6;
$dark-accent-dark: #0277BD;
$dark-page-background: #2c373c;
$dark-alert: #FF3D00;

$toolbar-height: 64px;

@mixin viewport($type) {
  @if $type == mobile {
    @media (max-width: 920px){
      @content;
    }
  } @else if $type == laptop {
    @media (max-width: 1400px) {
      @content;
    }
  }
}

@mixin float-left($width: 100%) { float: left; width: $width; }
@mixin paragraph-icon($imagepath){
  background: { image: url($imagepath); size: contain; repeat: no-repeat; }
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 0 0;
}

* { box-sizing: border-box; }
html, body { height: 100%; }
body { margin: 0; font: 100% $text-font; font-weight: 300; }
a { text-decoration: none; }
h1 { font-family: $title-font; text-transform: uppercase; font-weight: 500; }
strong { font-weight: 500; }
.container { @include float-left; min-height: 100%; }
.mat-toolbar {
  height: $toolbar-height;
  position: fixed;
  z-index: 500;
  nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    ul { display: flex; padding: 0; margin: 0; }
    li { display: flex; padding-bottom: 2px; cursor: pointer; }
    a { font-family: $title-font; margin: 0 10px; font-weight: 400; text-transform: uppercase; font-size: 90%; }
  }
}

.mat-mdc-card { display: flex; flex-direction: column; align-items: center; }
.mat-mdc-card-header { flex-direction: column !important; align-items: center; }
.mat-mdc-card-content { display: flex; flex-direction: column; align-items: center; }
.mat-mdc-slide-toggle .mdc-switch .mdc-switch__track { height: 14px !important; }
.mdc-switch__icons { display: none; }
.mdc-switch__shadow { display: none }
.mat-mdc-slide-toggle .mdc-switch .mdc-switch__handle { border-radius: 50%; }
.content_container { margin-top: $toolbar-height; position: absolute; width: 100%; height: calc(100% - #{$toolbar-height}); }
.content_wrapper { display: flex; flex-direction: row; min-height: 100%; }

.left {
	order: 1;
  width: 20%;
	padding: 20px 30px 10px;
  text-align: center;
	@include viewport(mobile) { padding: 10px 50px; }
}

.right {
  order: 2;
  width: 80%;
  padding: 20px 50px 10px;
  @include viewport(mobile) { padding: 10px 50px 50px; }
}
.header {
  .photo {
    width: 190px;
    height: 190px;
    margin: 0;
    border-radius: 50%;
    overflow: hidden;
  }

  .photo.mdc-card__media:last-child {
    border-radius: 50%;
  }

  .info {
    @include viewport(mobile) { min-width: 390px; padding-left: 30px; }
  }
  div { margin: 10px 0; font-size: 120%; }
  .name {
    font-family: $title-font;
    font-size: 250%;
    text-transform: uppercase;
    @include viewport(mobile) { font-size: 200%; }
  }
  .address:before, .phone:before, .email:before { content:" "; }
}
.item { @include float-left; }
.business {
  @include float-left($width: 20%);
  @include viewport(laptop) { @include float-left($width: 30%); }
  .business_name { margin-bottom: 0; font-weight: 600; text-transform: uppercase;}
  .business_date { margin: 0; }
}
.business:before {
  content: " ";
  display: block;
  width: 25px;
  height: 25px;
  float: right;
  border-radius: 50%;
  margin-top: 15px;
}
.description {
  @include float-left($width: 80%);
  position: relative;
  padding-left: 25px;
  li { margin: 5px 0; }
  @include viewport(laptop) { @include float-left($width: 70%); }
}
.item:last-child .description:before { border: 0; }
.description:before {
  content: " ";
  height: calc(100% - 30px);
  display: block;
  position: absolute;
  margin: 45px 0 0 -41px;
}
.skill_item {
  @include float-left($width: 30%);
  margin: 10px 1.5% 0;
}
.skill_item p { margin: 0; }
.skill_level {
  @include float-left;
  padding: 2px;
}
.skill_level_item {
  @include float-left($width: calc(10% - 4px));
  height: 10px;
  margin:0 2px;
}

.portfolio_item {
  width: 90%;
  margin: 0 auto;
}

.slick-initialized .slick-slide { display: inline-block; }
.portfolio_container .slick-slide { max-height: 250px; }
.slick-slide { margin: 0 5px; float: none; vertical-align: middle; }
.slick-prev, .slick-next { height: 40px; width: 40px !important; }
.slick-prev::before, .slick-next::before { font-size: 40px !important; }
.slick-prev { left: -40px !important; }
.slick-next { right: -40px !important; }
.slick-dots li button::before { width: 25px; height: 25px; font-size: 13px; line-height: 25px; }

.portfolio_container.hidden { position: absolute; width: 80%; height: 100%; padding: 0 30px; top: 0; left: 20%; z-index: 100; overflow: hidden }
.fullscreen { position: absolute; width: 100%; height: 100%; top: 0; padding: 0 30px; left: 0; z-index: 100; overflow: hidden; }

.portfolio_lightb { display: flex; align-items: center; flex-direction: column;
.close-btn {z-index: 1; align-self: end;}
}

/* --- begin themes --- */
.lightMode {
  background-color: $page-background; color: $color1;
  h1 { border-bottom: 2px solid $color1;  }
  .mat-toolbar {
    background-color: $color1; color: $color2;
    a { color: $accent-dark; }
    a.active { color: $accent-light; }
  }
  .mat-mdc-slide-toggle .mdc-switch:enabled .mdc-switch__track::before { background: $accent-light !important; }
  .mat-mdc-slide-toggle .mdc-switch:enabled .mdc-switch__track::after { background: $accent-light!important; }
  .mat-mdc-slide-toggle .mdc-switch .mdc-switch__handle::before { background: $accent-dark !important; }
  .mat-mdc-slide-toggle .mdc-switch.mdc-switch--selected:enabled .mdc-switch__handle::after { background: $accent-dark !important; }
  .mat-mdc-slide-toggle .mdc-switch.mdc-switch--unselected:enabled .mdc-switch__handle::after { background: transparent !important; }
  .mat-mdc-slide-toggle .mdc-switch.mdc-switch--unselected:enabled:hover:not(:focus):not(:active) .mdc-switch__handle::after { background: transparent !important; }
  .left { background-color: $color2; }
  .header {
    .photo { border: 4px solid $accent-dark; }
    .address:before { @include paragraph-icon('./assets/img/home.png'); }
    .phone:before { @include paragraph-icon('./assets/img/phone.png'); }
    .email:before { @include paragraph-icon('./assets/img/mail.png'); }
  }
  .business:before { background: $accent-light; }
  .business_name { color: $accent-dark; }
  .description:before { border-left: 6px dotted $accent-light; }
  .skill_level { border: 1px solid $color2; }
  .skill_level_item.on { background: $accent-dark; }
  .skill_level_item.off { background: $color2; }

  .slick-prev::before, .slick-next::before { color: $dark-color1 !important; }
}

.darkMode {
  background-color: $dark-page-background; color: $dark-color3;
  h1 { border-bottom: 2px solid $dark-color3;  }
  .mat-toolbar {
    background-color: $dark-color1; color: $dark-color2;
    a { color: $dark-accent-dark; }
    a.active { color: $dark-accent-light; }
  }

  .mat-mdc-slide-toggle .mdc-switch:enabled .mdc-switch__track::before { background: $dark-page-background !important; }
  .mat-mdc-slide-toggle .mdc-switch:enabled .mdc-switch__track::after { background:$dark-page-background!important; }
  .mat-mdc-slide-toggle .mdc-switch .mdc-switch__handle::before { background: $dark-color3 !important; }
  .mat-mdc-slide-toggle .mdc-switch.mdc-switch--selected:enabled .mdc-switch__handle::after {background: $dark-color3 !important; }
  .mat-mdc-slide-toggle .mdc-switch.mdc-switch--unselected:enabled .mdc-switch__handle::after { background: transparent !important; }
  .mat-mdc-slide-toggle .mdc-switch.mdc-switch--unselected:enabled:hover:not(:focus):not(:active) .mdc-switch__handle::after { background: transparent !important; }

  .left { background-color: $dark-color2; }
  .right { background-color: $dark-page-background; }
  .header {
    .photo { border: 4px solid $dark-accent-dark; }
    .address:before { @include paragraph-icon('./assets/img/home.png'); }
    .phone:before { @include paragraph-icon('./assets/img/phone.png'); }
    .email:before { @include paragraph-icon('./assets/img/mail.png'); }
  }
  .business:before { background: $dark-accent-dark; }
  .business_name { color: $dark-accent-dark; }
  .description:before { border-left: 6px dotted $dark-accent-dark; }
  .skill_level { border: 1px solid $dark-color2; }
  .skill_level_item.on { background: $dark-accent-dark; }
  .skill_level_item.off { background: $dark-color2; }

  .slick-prev::before, .slick-next::before { color: white; opacity: 0.75; }
}
/* --- end themes --- */
